<!DOCTYPE html>
<div>

<form action="/petForm" method="post">
    <h3>Pet Setup</h3>
    <label for="name">Pet's name:</label><br>
    <input type = "text" id="name" name="name"><br>

    <p>Pet's species:</p>
    <label for="cat">Cat:</label>
    <input type="radio" id="cat" name="species" value="cat"><br>
    <label for="dog">Dog:</label>
    <input type="radio" id="dog" name="species" value="dog"><br>
    <label for="penguin">Penguin:</label>
    <input type="radio" id="penguin" name="species" value="penguin"><br>
   
    <h3>Budget Setup</h3>
    <label for="savingsGoal">I want to save:</label>
    <input type="number" id="savingsGoal" name="savingsGoal"><br>

    <label for="goalDate">By:</label>
    <input type="date" id="goalDate" name="goalDate"><br>

    <input type="submit" value="Submit">
</form>

</div>
</html>